server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://localhost:3100/loki/api/v1/push

scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      job: system
      __path__: /var/log/secure

- job_name: nginx
  static_configs:
  - targets:
      - localhost
    labels:
       job: nginx
       __path__: /var/log/nginx/access.log
  pipeline_stages:
    - regex:
        expression: '^(?s)(?P<IP>\S+).*?" (?P<Status>\d+)'
    - labels:
        IP:
        Status:
